<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h4><%= name %></h4>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for( let list of filterArr ) { %>
    <a href="/listings/<%= list._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= list.image.url %>"
          class="card-img-top"
          alt="..."
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= list.title %></b> <br />
            &#8377; <%= list.price.toLocaleString("en-IN") %>/night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
