<% layout("/layouts/boilerplate.ejs") %>
<body>
  <!-- <h2>All listings</h2> -->
  <style>
    #filters {
      display: flex;
      flex-wrap: 2rem;
    }
    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.7;
    }
    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.8rem;
    }

    .filter a {
      text-decoration: none;
      color: black;
    }
    .filter button {
      padding: 0;
      border: none;
      background: none;
    }

    .tax-toggle {
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 1rem;
    }
    .tax-info {
      display: none;
    }
    .visible {
      display: inline;
    }
  </style>
  <div id="filters">
    <form method="GET" action="listings/filter/trend">
      <div class="filter">
        <button type="submit">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/rooms">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/city">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/mountain">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-mountain"></i>></div>
          <p>Mountains</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/castel">
      <div class="filter">
        <button>
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/pool">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing Pools</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/tent">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/farmhouse">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farmhouse</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/artic">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-snowman"></i></div>
          <p>Arctic</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/sea">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-fish"></i></div>
          <p>Sea</p>
        </button>
      </div>
    </form>
    <form method="GET" action="listings/filter/tent">
      <div class="filter">
        <button>
          <div><i class="fa-solid fa-tents"></i></div>
          <p>Tent</p>
        </button>
      </div>
    </form>
    <div class="tax-toggle mt-4 ms-auto">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes
        </label>
      </div>
    </div>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for( let list of allListing ) { %>
    <a href="/listings/<%= list._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= list.image.url %>"
          class="card-img-top"
          alt="..."
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= list.title %></b> <br />
            &#8377; <%= list.price.toLocaleString("en-IN") %>/night
            <i class="tax-info">
              &nbsp; &nbsp;+18% GST = <%= list.price + list.price*18/100 %></i
            >
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
  <script>
    let addTax = document.querySelector("#flexSwitchCheckDefault");
    addTax.addEventListener("click", () => {
      let taxInfo = document.querySelectorAll(".tax-info");
      if (addTax.checked == true) {
        taxInfo.forEach((tax) => {
          tax.classList.add("visible");
        });
      } else {
        taxInfo.forEach((tax) => {
          tax.classList.remove("visible");
        });
      }
    });
  </script>
</body>
